<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand font-weight-bold" routerLink="/">Container Data Sytem</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav pull-xs-right">
          <li class="nav-item">
              <a class="nav-link"
                routerLink="/" routerLinkActive="active">
                Data
              </a>
            </li>
      </ul>
      </div>
  </div>
</nav>